<div class="container">
    <div class="d-flex">
        <div class="col">
            <h1>Project-1</h1>
        </div>
        <div class="col">
            <!-- <ul>
                <li class="nav-item"><a href="" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="" class="nav-link">About</a></li>
                <li class="nav-item"><a href="" class="nav-link">Products</a></li>
                <li class="nav-item"><a href="" class="nav-link">Conact</a></li>
            </ul> -->
            <ul>
                <li><a href="" routerLink='/home'>Home</a></li>
                <li><a href="" routerLink='/about'>About</a></li>
                <li><a href="" routerLink='/products'>Products</a></li>
                <li><a href="" routerLink='/contact'>Conact</a></li>
            </ul>
        </div>
    </div>
</div>